# LOOPS

### while loops

In [1]:
# loop:
# counter
#logic
#increment/decrement

In [2]:
counter = 1 # counter
while counter <= 10: #logic
    print("line no.",counter)
    counter +=1 #increment

line no. 1
line no. 2
line no. 3
line no. 4
line no. 5
line no. 6
line no. 7
line no. 8
line no. 9
line no. 10

In [3]:
counter = 1000
while counter >= 990: 
    print("line no.",counter)
    counter -= 1

line no. 1000
line no. 999
line no. 998
line no. 997
line no. 996
line no. 995
line no. 994
line no. 993
line no. 992
line no. 991
line no. 990

### for loop

In [4]:
# for (counter,logic,increment):
#     {statememts}

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range (1000,990,-1):
    print(i)

1000
999
998
997
996
995
994
993
992
991

In [7]:
for i in range (1,11):
    # print (2, "X" ,i , "=" , i*2)
    # print ("2 X " + str(i)+ "=" str(i*2) )
    print(f"2 X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [13]:
for i in range (1,11):
    # print (2, "X" ,i , "=" , i*2)
    print(3 ,"X" , i , "=" , i*2)

3 X 1 = 2
3 X 2 = 4
3 X 3 = 6
3 X 4 = 8
3 X 5 = 10
3 X 6 = 12
3 X 7 = 14
3 X 8 = 16
3 X 9 = 18
3 X 10 = 20

In [14]:
for i in range(1,11):
     # print ("2 X " + str(i)+ "=" str(i*2) )
    print( "4 X " + str(i) + " = " + str(i*4) )

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [17]:
for i in range (1,11):
    print(f"7 X {i} = {7*i}") # no space between f and formula

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

### Nested loops

In [19]:
# user = int(input("Enter no.")) # input always string
user = input("Enter value: ") # will print tables upto that value
user = int(user)

for i in range(1, user+1) : #if 4 then will iterate 4 times
    for n in range(1,11):
        print(f"{i} X {n} = {i*n}")
    print("\n")

Enter value:  4

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10


2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [ ]:
x = int(input("Enter no. :"))
for i in range (1,11):
    for j in range(1, x+1):
        print(f"{j} X {i} = {i*j}" , end = "\t")
    print()